a{
    text-decoration: none;
    color: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

.container{
    max-width: 1208px;
    margin: 0 auto;
}

.login {
    background: #5A47AB;
    min-height: 100vh;
    padding:84px 0;
    
    
}
.logo{
    display: flex;
    justify-content: center;
}
.content{
    color:#fff;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.form_control::placeholder{
    color: #fff;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
}
.form a{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

}
.form_control{
    width: 836px;
    height: 72px;
    background: #5A47AB;;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 8px;
    color:#fff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 28px;
}
.form_info{
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}

.form_info span{
font-size: 18px;
line-height: 25px;
 font-family: 'Montserrat';
}
.custom_check .check{
    height: 24px;
    width: 24px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:12px;
}


.custom_check .check::before{
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    background-color: #61FFBC;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}

.custom_check input:checked + label .check{
    border-color: #61FFBC;
}
.custom_check input:checked + label .check::before{
    opacity: 1;
}
.custom_check input{
    display: none;
}

.custom_check label{
    display: flex;
    align-items: center;
}
.button{
    width: 808px;
    height: 72px;
    background: #5A47AB;;
    border: 1px solid #fff;
    padding-bottom: 8px;
    color:#fff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 72px;
    margin-bottom: 88px;
  
}
.member{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #fff;
margin-right:28px ;
}
.sign{
    font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #fff;
}
.link{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
