a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

.container{
    max-width: 1208px;
    margin: 0 auto;
}

.login {
    background: #5A47AB;
    min-height: 100vh;
    padding:84px 0;
}
.content{
    color:#fff;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content p{
    font-weight: 600;
    font-family: 'Open Sans';
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 20px;
}

.form_control{
    padding:32px 28px;
    margin: 12px 0;
    background: #fff;
    border-radius: 12px;
    border: none;
    color:#5A47AB;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.form_control::placeholder{
    color: #5A47AB;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;
}

.form_info{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.form_info span{
    margin-left: 16px;
    font-family: 'Montserrat';
    
}



.custom_check .check{
    height: 24px;
    width: 24px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:12px;
}


.custom_check .check::before{
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    background-color: #61FFBC;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}

.custom_check input:checked + label .check{
    border-color: #61FFBC;
}
.custom_check input:checked + label .check::before{
    opacity: 1;
}
.custom_check input{
    display: none;
}

.custom_check label{
    display: flex;
    align-items: center;
}
.button{
    padding:32px 28px;
    margin: 12px 0;
    background: #fff;
    border-radius: 12px;
    border: none;
    color:#5A47AB;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;  
    margin-top: 32px;
}
.member{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #fff;
}
.sign{
    font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #fff;
}
.link{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}