@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), url(OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(Montserrat-Regular.ttf) format('truetype');
}

